{% extends 'base.html' %}
{% block content %}
  <div style="background-color: #00153E; position:relative;"><!-- 밑에 이미지-->
    <img src="/static/img/booth1.png" style="display:block; margin: 0; width:2000px;">
    <div style="position:absolute; top:10%; left:50%; background-color: rgba(123,104,238,0); margin: 0 auto;">{{circle1|safe}}</div><!--겹치는 위에 값-->
    <div style="position:absolute; top:13%; left:50%; background-color: rgba(123,104,238,0); margin: 0 auto;">{{circle2|safe}}</div><!--겹치는 위에 값-->
    <div style="position:absolute; top:16%; left:50%; background-color: rgba(123,104,238,0); margin: 0 auto;">{{circle3|safe}}</div><!--겹치는 위에 값-->
    <div style="position:absolute; top:11%; left:72.5%; background-color: margin: 0 auto; color:#ffffff;">{{people1|safe}}명</div><!--겹치는 위에 값-->
    <div style="position:absolute; top:14%; left:72.5%; background-color: margin: 0 auto; color:#ffffff;">{{people2|safe}}명</div><!--겹치는 위에 값-->
    <div style="position:absolute; top:18%; left:72.5%; background-color: margin: 0 auto; color:#ffffff;">{{people3|safe}}명</div><!--겹치는 위에 값-->

  </div>
{% endblock %}




